*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#0b0b0f;
  color:white;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background:#12121a;
}

.nav-links{
  display:flex;
  gap:20px;
}

.nav-links a{
  text-decoration:none;
  color:white;
}

.hero{
  text-align:center;
  padding:120px 20px;
}

.hero h1{
  font-size:4rem;
  margin-bottom:20px;
}

.hero p{
  font-size:1.1rem;
  color:#bdbdbd;
  margin-bottom:30px;
}

.hero button{
  padding:14px 28px;
  border:none;
  border-radius:12px;
  background:#8b5cf6;
  color:white;
  cursor:pointer;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:40px 60px 80px;
}

.card{
  background:#151520;
  padding:30px;
  border-radius:20px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-8px);
}

.card h2{
  margin-bottom:12px;
}